In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error
from math import sqrt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
plt.style.use("ggplot")
%matplotlib inline
plt.rcParams["figure.figsize"]=(10,5)
import warnings
warnings.filterwarnings("ignore")

In [2]:
dataset=pd.read_csv("/data/Social_Network_Ads.csv")

In [3]:
dataset.head(10)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
5  15728773    Male   27            58000          0
6  15598044  Female   27            84000          0
7  15694829  Female   32           150000          1
8  15600575    Male   25            33000          0
9  15727311  Female   35            65000          0

In [4]:
X= dataset.drop(["User ID","Gender","Purchased"],axis=1)
y=dataset["EstimatedSalary"]

In [5]:
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.2,random_state=15)

In [6]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((320, 2), (80, 2), (320,), (80,))

In [7]:
scaler=StandardScaler()
X_train =scaler.fit_transform(X_train)
X_test=scaler.fit_transform(X_test)

In [8]:
from sklearn.linear_model import LogisticRegression

In [9]:
classifier=LogisticRegression(C=1.0) 
classifier.fit(X_train,y_train)

LogisticRegression()

In [10]:
y_pred=classifier.predict(X_train)

In [11]:
hesap_Df=pd.DataFrame(np.c_[y_train,y_pred],columns=["EstimatedSalary","Predict"])
hesap_Df

     EstimatedSalary  Predict
0              54000    55000
1             106000    80000
2              18000    15000
3              20000    15000
4              51000    72000
..               ...      ...
315            33000    26000
316            32000    23000
317            68000    80000
318            23000    23000
319           146000   144000

[320 rows x 2 columns]